<div class="flex flex-col h-full">
  <app-banner
    [title]="'Portfolio'"
    [subtitle]="
      'The examples below show a few projects that I am currently working on or have recently completed.'
    "
  ></app-banner>

  <div class="flex flex-col items-center py-24 space-y-16">
    <app-project
      [title]="'Tasker'"
      [description]="
        'Tasker is a simple task manager which allows users to manage multiple projects.'
      "
      [subheaders]="['Angular', 'NestJS', 'MongoDB']"
      [appLink]="
        'https://robertjosephwayne.github.io/todo-list-client-angular/'
      "
      [previewSrc]="
        '../../../assets/portfolio/tasker/tasker-all-devices-black.png'
      "
    ></app-project>

    <mat-divider class="w-3/4"></mat-divider>

    <app-project
      [title]="'Game of Life'"
      [description]="
        'The Game of Life is a cellular automaton devised by the British mathematician John Horton Conway in 1970.'
      "
      [subheaders]="['Angular', 'Material Design', 'Tailwind CSS']"
      [appLink]="'https://robertjosephwayne.github.io/angular-game-of-life/'"
      [previewSrc]="
        '../../../assets/portfolio/game-of-life/game-of-life-desktop.png'
      "
    ></app-project>

    <mat-divider class="w-3/4"></mat-divider>

    <app-project
      [title]="'Covid Dashboard'"
      [description]="
        'This project is currently in development. Covid Dashboard is a data visualization dashboard for metrics related to the pandemic.'
      "
      [subheaders]="['React', 'NestJS', 'MongoDB']"
      [appLink]="'https://robertjosephwayne.github.io/covid-dashboard-react/'"
      [previewSrc]="
        '../../../assets/portfolio/covid-dashboard/laptop-covid-dashboard.png'
      "
    ></app-project>
  </div>

  <app-call-to-action></app-call-to-action>
</div>
