<div class="flex flex-wrap justify-center items-center">
  <mat-card
    [ngStyle]="{ backgroundImage: getBackgroundUrl() }"
    class="w-11/12 h-72 sm:w-150 sm:h-96 mat-elevation-z4 m-10 bg-cover bg-no-repeat"
  >
  </mat-card>
  <div class="max-w-lg mx-8">
    <h2 class="text-4xl font-normal">
      {{ title }}
    </h2>
    <p class="text-2xl text-gray-600 font-light mt-3 leading-relaxed">
      {{ description }}
    </p>
    <div class="my-6">
      <ul
        class="flex flex-col space-y-6 text-xl text-gray-500 font-medium tracking-wider"
      >
        <li *ngFor="let subheader of subheaders">
          {{ subheader.toUpperCase() }}
        </li>
      </ul>
    </div>
    <div class="flex pt-2">
      <a
        [href]="appLink"
        class="mat-elevation-z3 text-xl hover:text-green-600 font-normal border-2 border-green-600 rounded-full px-7 py-4 transition duration-300 ease-in-out bg-green-600 hover:bg-white text-white"
        target="_blank"
        *ngIf="appLink"
      >
        View Project
      </a>
    </div>
  </div>
</div>
