<mat-toolbar class="bg-darkGray text-white px-8">
  <mat-toolbar-row class="flex justify-between max-w-7xl mx-auto mt-12">
    <a routerLink="/" class="inline-flex flex-col group">
      <div class="inline mb-3">
        <span class="xs:hidden text-3xl font-medium">RJW</span>
        <span class="hidden xs:inline text-3xl font-medium">ROBERT</span>
        <span class="hidden md:inline text-3xl font-medium"> JOSEPH</span>
        <span class="hidden xs:inline text-3xl font-medium"> WAYNE</span>
      </div>
      <span
        class="h-1 w-3/4 group-hover:w-2/12 bg-green-600 rounded-3xl transition-all duration-500 ease-in-out"
      ></span>
    </a>

    <div class="inline-flex space-x-4">
      <div
        class="inline-flex flex-col group justify-center w-20 xs:w-32 text-center"
      >
        <a
          routerLink="/portfolio"
          routerLinkActive
          #rlaPortfolio="routerLinkActive"
          class="text-gray-400 mb-3"
        >
          <span
            routerLinkActive="text-white"
            class="group-hover:text-white text-xl font-light transition-all duration-500 ease-in-out"
          >
            Portfolio
          </span>
        </a>
        <span
          [ngClass]="{ 'active-link-border': rlaPortfolio.isActive }"
          class="h-1 w-1/12 opacity-0 group-hover:opacity-100 group-hover:w-3/4 bg-green-600 rounded-3xl mx-auto transition-all duration-500 ease-in-out"
        >
        </span>
      </div>

      <div
        class="inline-flex flex-col group justify-center w-20 xs:w-32 text-center"
      >
        <a
          routerLink="/contact"
          routerLinkActive
          #rlaContact="routerLinkActive"
          class="text-gray-400 mb-3"
        >
          <span
            routerLinkActive="text-white"
            class="group-hover:text-white text-xl font-light transition-all duration-500 ease-in-out"
          >
            Contact
          </span>
        </a>
        <span
          [ngClass]="{ 'active-link-border': rlaContact.isActive }"
          class="h-1 w-1/12 opacity-0 group-hover:opacity-100 group-hover:w-3/4 bg-green-600 rounded-3xl mx-auto transition-all duration-500 ease-in-out"
        >
        </span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
