<div class="clipped-bottom bg-darkGray">
  <div class="flex justify-center items-center space-x-32">
    <div class="flex flex-col justify-center py-36 px-10 max-w-4xl text-center">
      <span class="text-white text-7xl mb-9">Hey, I'm Robert.</span>
      <span class="text-gray-400 text-3xl">
        I'm a software developer, former investment banker and UCLA graduate.
      </span>
      <div class="flex justify-center pt-12">
        <a
          routerLink="/portfolio"
          class="text-xl text-white font-normal border-2 border-white rounded-full px-7 py-4 transition duration-300 ease-in-out hover:bg-white hover:text-darkGray"
        >
          View Portfolio
        </a>
      </div>
    </div>
  </div>
</div>
