<div class="flex flex-col justify-center h-full">
  <div class="flex items-center justify-center h-full space-x-12 sm:space-x-24">
    <a href="mailto:robertjwayne@gmail.com" target="_blank">
      <span
        class="inline-flex items-center justify-center transition-all duration-300 ease-in-out bg-transparent border-2 border-gray-400 rounded-full mat-elevation-z5 w-28 h-28 hover:border-darkGray hover:bg-darkGray group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
        >
          <path
            class="transition-all duration-300 ease-in-out fill-current text-darkGray group-hover:text-white"
            d="M.026 24l11.974-11.607 11.974 11.607h-23.948zm11.964-23.961l-11.99 8.725v12.476l7.352-7.127-5.653-4.113 10.291-7.488 10.309 7.488-5.655 4.108 7.356 7.132v-12.476l-12.01-8.725z"
          />
        </svg>
      </span>
    </a>

    <a href="https://www.linkedin.com/in/robertjosephwayne" target="_blank">
      <span
        class="inline-flex items-center justify-center transition-all duration-300 ease-in-out bg-transparent border-2 border-gray-400 rounded-full mat-elevation-z5 w-28 h-28 hover:border-darkGray hover:bg-darkGray group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 24 24"
        >
          <path
            class="transition-all duration-300 ease-in-out fill-current text-darkGray group-hover:text-white"
            d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"
          />
        </svg>
      </span>
    </a>
  </div>
</div>
